@import url("https://fonts.googleapis.com/css2?family=Titillium+Web");

.contact{
  font-family: "Titillium Web", sans-serif !important;
  font-size: 25px;
  line-height: 30px;
  height: 30px;
  font-weight: bold;
  color: #ffffff !important;
}

.ant-layout-footer {
  background-color: #000000 !important;
  padding: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .flex-right{
    display: flex;
    justify-content: flex-start;
  }
}
